.video-container{
  background-color: #000;
  height: 1098px;
}

.video {
  padding: 72px 45px;
}

.video[data-embed-loaded='false']:not(.placeholder) {
  /* reserve an approximate space to avoid extensive layout shifts */
  aspect-ratio: 16 / 9;
}

/* Move this selector above the more specific one */
.video-heading .video-title {
  font-size: 36px;
  font-weight: 400;
}

.video .video-heading .video-title{
  margin-bottom: 27px;
}

.video .video-heading{
  margin-bottom: 27px;
  color: #fff;
}

.video .video-description{
  margin-top: 27px;
  text-align: center;
  color: #fff;
}

.video video {
  max-width: 100%;
}

.video .video-placeholder {
  width: 1220px;
  height: 686px;
  position: relative;
}

.video-placeholder picture {
  border-radius: 10px;
  background: #efefef;
  padding: 10px;
  text-align: center;
}

.video-wrapper video {
  border-radius: 10px;
  background: #efefef;
  padding: 10px;
  text-align: center;
}

.video .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video-placeholder-play button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: 2px solid;
  padding: 0;
}

.video .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 24px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}