.hero-wrapper {
  position: relative;
  width: 100%;
}

.hero.our-work {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  color: #fff;
  overflow: hidden;

  picture,
  img {
    width: 100%;
    height: 446px;
    object-fit: cover;
    display: block;
  }


  >div:last-child {
    padding-top: 225px;
    position: absolute;
    z-index: 2;

    h2 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 0.5rem;
      text-shadow: 0 2px 4px rgb(0 0 0 / 70%);
    }

    h4 {
      font-size: 26px;
      color: #a020f0;
      margin: 0;
      text-shadow: 0 1px 3px rgb(0 0 0 / 70%);
    }
  }
}


.hero.privacy-policy {
  position: relative;
  text-align: center;
  color: #1a1a1a;

  picture img {
    display: block;
    width: 100%;
    height: auto;
  }

  >div:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px;
  }

  p {
    display: inline;
    margin: 0;
    font-size: 0.9rem;
  }

  p:first-of-type a {
    color: #8a2be2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p:last-of-type {
    color: #666;
  }
}