.header-footer-logo .logo-picture img{
  height: 30px;
  width: 150px;
}

.social-icon .logo-picture img {
  height: 32px;
  width: 32px;
}

.full-width .logo-picture img {
  height: auto;
  width: auto;
}
