.footer-wrapper {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 72px 140px;
}
